*{box-sizing:border-box}
body{
  margin:0;
  min-height:100vh;
  background:#0b0b0b;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:system-ui;
  color:#fff;
  overflow:hidden;
}

/* PLAYER BOX */
.player{
  width:100%;
  max-width:700px;
  padding:18px;
  border-radius:20px;
  background:linear-gradient(180deg,#111,#050505);
  box-shadow:0 20px 40px rgba(0,0,0,.85);
  text-align:center;
  position:fixed;
  top:51%;
  left:50%;
  transform:translate(-50%,-50%);
}

/* DISC AREA */
.disc-container{
  position:relative;
  width:240px;
  height:240px;
  margin:0 auto 10px;
}

/* rotating shadow */
.disc-shadow{
  position:absolute;
  inset:0;
  border-radius:50%;
  opacity:.45;
  background:conic-gradient(
    rgba(255,255,255,.1),
    rgba(104, 104, 104, 0.8),
    rgba(255,255,255,.12),
    rgba(223, 223, 223, 0.84),
    rgba(255,255,255,.1)
  );
  animation:spinShadow 4s linear infinite;
  animation-play-state:paused;
}

@keyframes spinShadow{
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}

/* LED */
#ledCanvas{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  border-radius:50%;
  pointer-events:none;
  z-index:2;
}

/* DISC */
.disc{
  position:absolute;
  top:50%;
  left:50%;
  width:160px;
  height:160px;
  transform:translate(-50%,-50%);
  border-radius:50%;
  background:url("https://raw.githubusercontent.com/mydvlp22-hash/video-player/refs/heads/main/dish.png") center/cover;
  z-index:3;
  animation:spin 4s linear infinite;
  animation-play-state:paused;
}

@keyframes spin{
  from{transform:translate(-50%,-50%) rotate(0deg)}
  to{transform:translate(-50%,-50%) rotate(360deg)}
}

.disc::after{
  content:'';
  position:absolute;
  inset:0;
  border-radius:50%;
  background:
    conic-gradient(
      rgba(255,255,255,.35),
      rgba(255,255,255,.05),
      rgba(0,0,0,.7),
      rgba(255,255,255,.05),
      rgba(255,255,255,.35)
    );
  mix-blend-mode:overlay;
  opacity:.8;
}

/* SONG TITLE */
#songTitle{
  margin:8px 0 6px;
  font-size:15px;
  opacity:.9;
}

/* TIMELINE */
#timeline{
  width:100%;
}
.timebox{
  width:100%;
  display:flex;
  justify-content:space-between;
  margin-bottom:6px;
  font-size:13px;
  opacity:.8;
}

/* CONTROLS */
.controls{
  display:flex;
  justify-content:center;
  gap:18px;
  margin-bottom:10px;
}
.controls button{
  width:44px;
  height:44px;
  border-radius:50%;
  border:none;
  background:#1a1a1a;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}

/* PLAYLIST */
.playlist{
  margin-top:10px;
  max-height:186px;
  overflow-y:auto;
  border-top:1px solid #222;
}
.track{
  padding:10px;
  text-align:left;
  font-size:16px;
  border-bottom:3px solid #1a1a1a;
  cursor:pointer;
  background: #3f3f40;
  border-radius: 8px;
}
.track:hover{background:#1a1a1a}
.track.active{
  background:#1e9bcf;
  color:#000;
  font-weight:600;
  border-radius: 8px;
}